<footer>
    <div class="group">
        <div class="footer-items">
            <div class="title">
                Titulo
            </div>
            <div class="elements">
                <ul class="list-element">
                    <li class="item-element">Elemento</li>
                    <li class="item-element">Elemento</li>
                    <li class="item-element">Elemento</li>
                    <li class="item-element">Elemento</li>
                </ul>
            </div>
        </div>
        <div class="footer-items">
            <div class="title">
                Titulo
            </div>
            <div class="elements">
                <ul class="list-element">
                    <li class="item-element">Elemento</li>
                    <li class="item-element">Elemento</li>
                    <li class="item-element">Elemento</li>
                    <li class="item-element">Elemento</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="group">
        <div class="footer-items">
            <div class="title">
                Titulo
            </div>
            <div class="elements">
                <ul class="list-element">
                    <li class="item-element">Elemento</li>
                    <li class="item-element">Elemento</li>
                    <li class="item-element">Elemento</li>
                    <li class="item-element">Elemento</li>
                </ul>
            </div>
        </div>
        <div class="footer-items">
            <div class="title">
                Titulo
            </div>
            <div class="elements">
                <ul class="list-element">
                    <li class="item-element">Elemento</li>
                    <li class="item-element">Elemento</li>
                    <li class="item-element">Elemento</li>
                    <li class="item-element">Elemento</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="group">
        <div class="footer-items">
            <div class="title">
                Titulo
            </div>
            <div class="elements">
                <ul class="list-element">
                    <li class="item-element">Elemento</li>
                    <li class="item-element">Elemento</li>
                    <li class="item-element">Elemento</li>
                    <li class="item-element">Elemento</li>
                </ul>
            </div>
        </div>
    </div>
</footer>