{%extends 'global/base.html'%}


{%block content%}

{% include 'arquivo/partials/option_navigation.html' %}
        <div class="content-items-field">
            
            <div class="main-content-detail">
                {% include 'arquivo/partials/publication-detail.html' %}
            </div>
           
        </div>

{%endblock%}

<!-- {% include 'arquivo/partials/head.html' %}

<body>
    
    {% include 'arquivo/partials/header.html' %}
    
    <main class="container main-content">
        
        
    </main>
</body>
{% include 'arquivo/partials/footer.html' %}
</html> -->